html(lang="ko")
  head
    title #{ pageTitle } | #{ siteName }
    link(
      rel="stylesheet",
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    )
    link(rel="stylesheet", href="/static/css/styles.css")
  body
    include partials/header
    main
      block content
    include partials/footer
  script(src="/static/js/main.js") 
  //- 아이콘이 안나오는 경우, 아래 코드를 사용하자
  //- script(src="https://kit.fontawesome.com/cd93d6076f.js" crossorigin="anonymous")
