extends ../base
include ../mixins/video

block content
  .profile__data
    if loggedInUser.socialOnly
      if loggedInUser.avatarUrl.includes("github")
        img.avatar(src=user.avatarUrl, crossorigin="anonymous") 
      else
        img.avatar(src="/" + user.avatarUrl)
    else
      if !user.avatarUrl
        span 😀
      else
        if loggedInUser.avatarUrl.includes("github")
          img.header__avatar(
            src=loggedInUser.avatarUrl,
            crossorigin="anonymous"
          )
        else
          img.header__avatar(src="/" + loggedInUser.avatarUrl)

    h3= user.name
  .video-grid
    each video in user.videos
      +video(video)
    else
      span.empty__message No videos found
